<footer id="contact">
  <div class="lastcontainer">
    <div class="sec aboutus">
      <h2>KBStocks</h2>
      <p> KBStocks is an online web application is to provide users
         with the facility of buying and selling stocks in top and most valued companies.
        As times changes, the way of buying stocks also changes in a digital way.
        We can also buy United State stocks and Indian stocks in this.</p>
        <!-- <ul class="links">
          <li><a href="https://m.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/kaviya-karthikeyan -19b12al4r10a20t0lh"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/KaviyaKarthik19"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="https://instagram.com/_kaviyakarthikeyan_?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram"></i></a></li>
        </ul> -->
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="indstocks">Ind Stocks</a></li>
        <li><a href="/usstocks">US Stocks</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="contact">contact us</a></li>
      </ul>
    </div>
    <div class="sec contactus">
      <h2>Office Info</h2>
      <ul class="info">
        <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p>1/123 XYZ street,<br>XYZ city,<br>
          Salem-637504,<br>Tamilnadu</p>
        </li>
        <li>
          <span><i class="fa-solid fa-phone"></i></span>
          <p><a href="tel:12345678900">+91-9597459338</a><br><a href="tel:12345678900">+91-8248783513</a></p>
        </li>
        <li>
          <span><i class="fa-solid fa-envelope"></i></span>
          <p><a href="mailto:kaviyakarthi19@gmail.com">kbstocks@gmail.com</a></p>
        </li>
      </ul>
      </div>
        <div class="lastcontainer">
          <div class="sec aboutus">
            <h2>Contact Us</h2>
            <ul class="links">
              <li><a href="https://m.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/kaviya-karthikeyan -19b12al4r10a20t0lh"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/KaviyaKarthik19"><i class="fa-brands fa-twitter"></i></a></li>
              <!-- <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li> -->
              <li><a href="https://instagram.com/_kaviyakarthikeyan_?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
        </div>
</div>
</footer>
