
.container {
  margin: 0 auto;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  max-width: 100%;
  width: 500px;
}

.header {
  border-bottom: 2px solid white;
  background-color: rgba(111, 14, 159, 0.8);
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 24px;
}

.form {
  background-color: rgba(179, 108, 215, 0.2); /* Updated to very transparent light purple */
  padding: 20px 40px;
}

.form-control {
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-top: 25px;
  color: black;
}

.form-control input {
  display: block;
  border: none;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: none;
  border: 2px solid blue;
  border-radius: 4px;
}

.form button {
  background-color: #6f0e9f;
  border: none;
  color: white;
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.header1 {
  border-top: 2px solid white;
  background-color: rgba(111, 14, 159, 0.8);
  padding: 5px 40px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.error {
  color: red;
}

.good {
  color: green;
  font-weight: bold;
}

