<app-navbar></app-navbar>
    <head>
        <title>Mutual</title>

    </head>
    <body>
        <div class="header">
            <nav>
                <div class="logo">
                    <h1>Trade Management</h1>
                </div>
                <!-- <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Support</a></li>
                </ul> -->
            </nav>
            <div class="content">
                <h1 class="slide-left">Invest in<br>Mutual Funds</h1>
                <p class="slide-left">We started with Mutual Funds with a vision to make it so
                    simple that anyone will be able to invest And,we did!!</p>
                    <div class="links slide-left">
                        <a href="#" class="btn">Start Investing</a>
                    </div>
                </div>
        </div>
    </body>
<app-footer></app-footer>
