
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
<!-- <app-addtocart></app-addtocart> -->
<!-- <app-signup></app-signup> -->
<!-- <app-details></app-details> -->
<!-- <app-home></app-home> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-contact></app-contact> -->
<!-- <app-admin></app-admin> -->
<!-- <app-payment></app-payment> -->
<!-- <app-mutual></app-mutual> -->
<!-- <app-usstocks></app-usstocks> -->
<!-- <app-indstocks></app-indstocks> -->
<!-- <app-stocks></app-stocks> -->
<!-- <app-checkout></app-checkout> -->
<!-- <app-adminpanel></app-adminpanel> -->
<!-- <app-list></app-list> -->
<!-- <app-forgetpassword></app-forgetpassword> -->
<!-- <app-resetpassword></app-resetpassword> -->
