body {
  font-family: 'Times New Roman', serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  background-color: #f9f5fc;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.forgot-password {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #6a0dad;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #50058a;
}

.message {
  margin-top: 15px;
  padding: 10px;
  background-color: #e8cff5; 
  border: 1px solid #d3b5f0;
  color: #50058a;
  border-radius: 4px;
}

