.container {
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  margin-top: 80px;
}

.header {
  border-bottom: 2px solid white;
  background-color: rgba(111, 14, 159, 0.8);
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 24px;
}

.form {
  background-color: rgba(179, 108, 215, 0.2); 
  padding: 20px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.form-control input {
  display: block;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: black;
}

.form-control input:focus {
  outline: none;
}

.form button {
  background-color: #6f0e9f;
  border: none;
  color: white;
  display: block;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.error {
  color: red;
}

.error input {
  border: 2px solid red;
}
