
<head>
  <title>KB Stocks</title>
</head>
<body>
  <header>
    <h1>KB Stocks</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">/Sign Up</a></li>
    </ul>
  </nav>

  <main>
    <h2>Welcome to Stock Market</h2>
    <p>Here you can find the latest information about stocks, news, and more.</p>
    <p>Explore our wide range of stock market data and analysis to make informed investment decisions.</p>
    <button class="get-started-button" onclick="redirectTologin()">Get Started</button>
  </main>

</body>
<footer>
  &copy; 2023 KB Stocks
</footer>
