
  <app-navbar></app-navbar>
     <div class="background">
  </div>
    <div class="title1">
        <h1><a href="#">Know about us</a></h1>
      <div class="about">
        <div class="content">
          <p>
            Stock markets are venues where buyers and sellers meet to exchange equity shares of public corporations.
            Stock markets are components of a free-market economy because they enable democratized access to investor trading and exchange of capital.
            Stock markets create efficient price discovery and efficient dealing
            KBStocks is an online web application is to provide users with the facility of buying and selling stocks in top and most valued companies.
            As times changes, the way of buying stocks also changes in a digital way.
            We can also buy United State stocks and Indian stocks in this.
          </p>
        </div>
        <div class="img1">
          <!-- <img src="https://static.vecteezy.com/system/resources/previews/000/376/010/non_2x/vector-global-network-system-icon-on-a-white-background.jpg"> -->
        </div>
      </div>
      </div>
      <div class="stocks">
        <h1><a href="#">Invest on best stock</a></h1>
        <div class="stocks-pictures">
        <div class="pictures">
          <a href="https://www.ril.com/"><img src="/assets/images/reliance.jpg" alt="Reliance Industries Ltd.">
          <p>Reliance Industries Ltd.</p></a>
        </div>
        <div class="pictures">
          <a href="https://www.tcs.com/"><img src="/assets/images/TCS.jpg" alt="TCS"><p>TCS Consultancy</p></a>
        </div>
        <div class="pictures">
          <a href="https://www.hdfcbank.com/"><img src="/assets/images/HDFC.jpg" alt="HDFC Bank">
            <p>HDFC</p></a>
        </div>
        <div class="pictures">
          <a href="https://www.icicibank.com/"><img src="/assets/images/icici bank.png" alt="ICICI BANK">
          <p>ICICI</p></a>
        </div>
      <div class="pictures">
        <a href="https://www.apple.com/in/"><img src="/assets/images/apple.png" alt="Apple">
        <p>Apple</p></a>
      </div>
      <div class="pictures">
        <a href="https://www.amazon.in/"><img src="/assets/images/amazon.png" alt="amazon">
        <p>Amazon</p></a>
      </div>
      <div class="pictures">
        <a href="https://www.mcdonaldsindia.com/"><img src="/assets/images/McDonald's.png" alt="mcdonald">
        <p>McdDonald</p></a>
      </div>
    </div>
  </div>
  <div class="bg">
    <h1>Grow Your Value</h1>
  </div>
  <div class="choose">
    <h1 class="heading">Why You Choose us ?</h1>
    <div class="content1">
    <div class="content-1">
      <!-- <img src="/assets/images/easy.jpeg" alt="availability"> -->
      <!-- <h3>Easy</h3> -->
      <p>helps you to save, plan and invest across your family members.</p>
    </div>
    <div class="content-1">
      <!-- <img src="/assets/images/time.png" alt="mileage"> -->
      <!-- <h3>Fast</h3> -->
      <p>We can easily buy and sell stocks in a click , with a go , and in a moment.</p>
    </div>
    <div class="content-1">
      <!-- <img src="/assets/images/transparent.jpg" alt="service"> -->
      <!-- <h3>Transparent</h3> -->
      <p>You can easily gothrough your stocks as we are up to level in transparent.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
